
.bookings{
    width:90%;
    border:1px solid rgb(223, 217, 217);
    margin-left:80px ;
    border-radius: 8px;
    display: flex;
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 2px solid black;
   
}
p{
    margin-left: 100px;
    font-size: larger;
    font-weight: bolder;
}
.smallerDiv{
    border: 1px solid rgb(214, 209, 209);
    border-radius: 3px;
    width:30%;
    
}
#cancel-booking-button{
    background-color: rgb(235, 16, 16);
    color: aliceblue;
    font-size: large;
    font-weight: bold;
   
    border-color: aliceblue;
    border-radius: 30px;
}
.newbtn{
    background-color: rgb(190, 184, 184);
    color: rgb(4, 5, 5);
    font-size: large;
    font-weight: bold;
    
    border-color: aliceblue;
    border-radius: 40px;

}

#car>h6{
    color:black;
   }
#car{
    padding: 2px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.buttons{
   display: flex;
   justify-content: center;
   margin-top: 50px;
   gap:5px;
}

#booking-label{
    color: black;
    margin-left: 10px;
    font-weight: bold;
}
#Abcdefghijklmn{
    width: 100%;
    height: 100%;
}

.allbg{
    background-color:rgb(244, 242, 242);
    padding: 20px;
}
h6{
    font-weight: bold;
    color: black;
    font-size: 18px;
}
